
<div class="container"><br />
  <strong><u><%= @users_post.user.full_name %></u></strong> <br /><br />
<div class="row">

  <h3>My friends are:</h3>


      <% @users_post.user.friendships.each do |friendship|  %>
        <strong><%= friendship.friend.full_name %></strong><br />
        <%end %>

  <div>
      <h6>Total friends: <%=@users_post.user.friendships.count%></h6>
  </div>
</div>
</div>